* {
	margin: 0;
}

header {
	border-bottom: 2px solid black;
}

.header:after {
	content:" ";
	display: table;
	clear:both;
}

h1 {
	margin: 10px;
}

ul {
	list-style: none;
  	padding: 0;
  	margin: 0; 
}

ul li {
	display: inline;
	margin:10px;
	margin-bottom:10px;
	font-size: 20px;
}

.main-nav {
	float:right;
	margin-top: 8px;
}

.main-nav a {
	text-decoration: none;
}

.main-nav > li {
	border-left:solid 1px black;
	margin-right:30px;
}

.dropdown {
	position: relative;

}

.drop-nav {
	position: absolute;
	display:none;
}

.drop-nav li {
	text-align: left;
	border-bottom:1px solid black;
}

.dropdown:hover > .drop-nav {
	display: block;
}

.search {
	margin-top:20px;
	margin-left: 20px;
}

#countrylist {
	float:left;
	margin-top:10px;
}

#citylist {
	float:left;
	margin-left:20px;
	margin-top:10px;
}

.output-box {
	width: 500px;
	height:400px;
	background-color:lightblue;
	float:left;
	margin-top:10px;
}

.save-button {

}

body {
	padding-top:80px;
}

#datasave {
	width: 500px;
	height: 500px;
	background-color: lightblue;
	margin-top: 450px;
	border-top: 2px solid black;
}